.BookInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bookInfoActionsContainer {
  display: flex;
}

.BIActionsButton {
  color: var(--font-color2);
  background-color: transparent;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  padding: 0.1rem 0.2rem;
  border-right: 1px solid var(--border-color1);
}

.BIActionsButton:last-child {
  border: none;
}

.BIActionsButton:hover {
  color: var(--font-color2);
  background-color: transparent;
}
