.barContainer {
  background-color: var(--background-color2);
  border-bottom: solid 2px var(--border-color1);
}

.navBarContainer {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color2);
}

.navLinksContainer {
  display: flex;
  align-items: center;
}
