@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

:root {
  --font-color1: #121212;
  --font-color2: #4386bf;
  --font-color3: #0290ff;
  --font-color4: #c4c4c4;
  --font-color5: #fff;
  --background-color1: #f5f6fa;
  --background-color2: #fff;
  --border-color1: #e8e8e8;
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

html,
body {
  background-color: var(--background-color1);
}

.fontStyle1,
.fontStyle2,
.fontStyle3,
.fontStyle4 {
  font-family: Roboto, sans-serif;
}

.fontStyle5,
.fontStyle6,
.fontStyle7,
.fontStyle8,
.fontStyle9,
.fontStyle10 {
  font-family: Montserrat, 'Times New Roman', Times, serif;
}

.fontStyle2,
.fontStyle3,
.fontStyle4 {
  font-weight: 300;
}

.fontStyle4,
.fontStyle5,
.fontStyle10 {
  opacity: 0.5;
}

.fontStyle2,
.fontStyle5,
.fontStyle7 {
  font-size: 0.875rem;
}

.fontStyle3,
.fontStyle9 {
  font-size: 1rem;
}

.fontStyle4,
.fontStyle5,
.fontStyle6,
.fontStyle7 {
  text-decoration: none;
}

.fontStyle4 {
  font-size: 0.813rem;
}

.fontStyle5,
.fontStyle6 {
  font-weight: 700;
}

.fontStyle6 {
  font-size: 1.875rem;
}

.fontStyle8 {
  font-size: 2rem;
}

.fontStyle10 {
  font-size: 1.25rem;
}

.normal {
  font-weight: 400;
}

.fontColor2 {
  color: var(--font-color2);
}

.fontColor3 {
  color: var(--font-color3);
}

.fontColor5 {
  color: var(--font-color5);
}

.mr1 {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.ml1 {
  margin-left: 1rem;
}

.ml2 {
  margin-left: 2rem;
}

.mb05 {
  margin-bottom: 0.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.appDefaultButton {
  background-color: var(--font-color3);
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

.appDefaultButton:hover {
  background-color: var(--font-color2);
}

.booksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  width: 100%;
}

.bookItemcontainer {
  display: flex;
  width: 80%;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 1rem;
}

.chapterProgressContainer {
  display: flex;
  justify-content: center;
}

.addBookContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 2px solid var(--border-color1);
  margin: auto;
  padding: 2rem 0;
}

.formContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.addBookTitle {
  border-radius: 4px;
  border: solid 1px var(--border-color1);
  min-width: 45%;
  padding: 0.5rem 1rem;
}

.addBookGenre {
  border-radius: 4px;
  border: solid 1px var(--border-color1);
  min-width: 35%;
  padding: 0.5rem 1rem;
}

.addBookBtn {
  min-width: 15%;
}

.categoriesPageContainer {
  display: flex;
  width: 100%;
  height: 50vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.percentageCircleContainer {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 0.8rem;
}

.percentageCircle > circle {
  width: 100px;
  height: 100px;
  fill: none;
  stroke-width: 5px;
  stroke: #000;
  transform: translate(10px, 10px);
}

circle.circle1 {
  stroke: var(--border-color1);
  stroke-dashoffset: 0;
}

.fontColor1,
.appDefaultButton:active {
  color: var(--font-color1);
}

.fontColor4,
.addBookTitle::placeholder {
  color: var(--font-color4);
}
