@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-color1: #121212;
  --font-color2: #4386bf;
  --font-color3: #0290ff;
  --font-color4: #c4c4c4;
  --font-color5: #fff;
  --background-color1: #f5f6fa;
  --background-color2: #fff;
  --border-color1: #e8e8e8;
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

html,
body {
  background-color: var(--background-color1);
}

/* Default Font-Styles */
.fontStyle1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
}

.fontStyle2 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
}

.fontStyle3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.fontStyle4 {
  opacity: 0.5;
  font-family: 'Roboto', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  text-decoration: none;
}

.fontStyle5 {
  opacity: 0.5;
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
}

.fontStyle6 {
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
  font-size: 1.875rem;
  font-weight: bold;
  text-decoration: none;
}

.fontStyle7 {
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
  font-size: 0.875rem;
  text-decoration: none;
}

.fontStyle8 {
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.fontStyle9 {
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
  font-size: 1rem;
}

.fontStyle10 {
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  opacity: 0.5;
}

.normal {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.fontColor1 {
  color: var(--font-color1);
}

.fontColor2 {
  color: var(--font-color2);
}

.fontColor3 {
  color: var(--font-color3);
}

.fontColor4 {
  color: var(--font-color4);
}

.fontColor5 {
  color: var(--font-color5);
}

.mr1 {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.ml1 {
  margin-left: 1rem;
}

.ml2 {
  margin-left: 2rem;
}

.mb05 {
  margin-bottom: 0.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

/* Default Button Style */
.appDefaultButton {
  padding: 0.5rem 1rem;
  background-color: var(--font-color3);
  border-radius: 3px;
}

.appDefaultButton:hover {
  background-color: var(--font-color2);
}

.appDefaultButton:active {
  color: var(--font-color1);
}

.booksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  width: 100%;
}

.bookItemcontainer {
  display: flex;
  width: 80%;
  justify-content: space-around;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.chapterProgressContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addBookContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 2px solid var(--border-color1);
  padding: 2rem 0 2rem 0;
  margin: auto;
}

.formContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.addBookTitle {
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: solid 1px var(--border-color1);
  min-width: 45%;
}

.addBookTitle::placeholder {
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
  color: var(--font-color4);
}

.addBookGenre {
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: solid 1px var(--border-color1);
  min-width: 35%;
}

.addBookBtn {
  min-width: 15%;
}

.categoriesPageContainer {
  display: flex;
  width: 100%;
  height: 50vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}
